body {
    margin: 0;
    background-color: #17525a;
}

/* TYPO */
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.3em;
}

p,
div,
span,
li {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.1em;
}

li {
    list-style-type: none;
}

/*-------------------------------------------------*/

.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 6 / 13;
}

.div2 {
    grid-area: 1 / 1 / 6 / 13;
    background-image: url("images/fond.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.titre {
    font-family: 'Gluten', cursive;
    font-size: 3em;
}

.div3 {
    grid-area: 1 / 1 / 6 / 13;
}

.div4 {
    grid-area: 1 / 1 / 2 / 13;
}

nav {
    backdrop-filter: blur(5px);
    border-radius: inherit;
    -webkit-backdrop-filter: blur(5px);
}

.nav-link,
.navbar-brand {
    color: white;
}

#imgnav {
    width: 25%;
    max-width: 150px;
    padding-left: 5%;
}

#imgheadfond {
    height: 100vh;
    width: 100%;
}


#imgheaddroit {
    background-image: url("images/fond-droit.png");
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    animation-name: head_animation;
    animation-duration: 3s;
}

#imgheadgauche {
    background-image: url("images/fond-gauche.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    animation-name: head_animation2;
    animation-duration: 4s;
}

@media all and (max-width: 1150px) {
    #imgheaddroit {
        background-image: url("images/fond-droitV2.png");
        background-position: right;
        background-repeat: no-repeat;
        width: 100%;
        position: relative;
        animation-name: head_animation;
        animation-duration: 3s;
    }

    #imgheadgauche {
        background-image: url("images/fond-gaucheV2.png");
        background-repeat: no-repeat;
        width: 100%;
        position: relative;
        animation-name: head_animation2;
        animation-duration: 4s;
    }

    .titre {
        font-family: 'Gluten', cursive;
        font-size: 2, 5em;
    }
}

@media all and (max-width: 810px) {
    #imgheaddroit {
        background-image: url("images/fond-droitV3.png");
        background-position: right;
        background-repeat: no-repeat;
        width: 100%;
        position: relative;
        animation-name: head_animation;
        animation-duration: 3s;
    }

    #imgheadgauche {
        background-image: url("images/fond-gaucheV3.png");
        background-repeat: no-repeat;
        width: 100%;
        position: relative;
        animation-name: head_animation2;
        animation-duration: 4s;
    }

    .titre {
        font-family: 'Gluten', cursive;
        font-size: 2em;
    }
}

@keyframes head_animation {
    from {
        bottom: -1500px;
        opacity: 0%;
    }

    50% {
        opacity: 25%;
    }

    to {
        bottom: 0px;
        opacity: 100%;
    }
}

@keyframes head_animation2 {
    from {
        bottom: -2500px;
    }

    40% {
        opacity: 25%;
    }

    to {
        bottom: 0px;
    }
}

/*-------------------------------------------------*/

/* Bouttons */

button {
    border-radius: 15px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #16525A;
    font-size: 1.5em;
    margin: 1% 1%;
    width: 280px;
}

button:hover {
    border: 2px solid white;
    background-color: #16525A;
    color: #ffffff;
}

/*-------------------------------------------------*/

/* Compteur */

.box_jour,
.box_heure,
.box_minute,
.box_seconde {
    margin: 25px;
    border: 3px solid white;
    border-radius: 15px;
    min-width: 160px;
}

.imgsapin {
    max-height: 130px;
}

.noelcompteur {
    margin: 5% 0;
}

/*-------------------------------------------------*/

/* section 1 */
#section1 {
    margin: 5%;
}

#ecrittalettre {
    padding: 20% !important;
    font-size: 1.5em;
}

#imglettre {
    max-width: 75%;
    margin: 50px;
}

#boiteaulettre {
    max-width: 50%;
}

/*-------------------------------------------------*/
/* section train */
.section2 {
    padding: 0 2%;
}

.raildroite {
    background-image: url("images/base-extensible-droit.png");
    background-size: 100%;
}

.raildroite2 {
    background-image: url("images/base-extensible-droit-2.png");
    background-size: 100%;
}

.railgauche {
    background-image: url("images/base-extensible-gauche.png");
    background-size: 100%;
}

p {
    padding-left: 5%;
    padding-right: 5%;
}

.train {
    width: 100%;
}

@media all and (max-width: 640px) {
    .gare {
        width: 100%;
    }
}

#merci {
    margin: 05% 5%;
}

#cadeau {
    width: 25%;
}

/* FOOTER */

footer {
    height: 50vh;
    background-image: url("images/footer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}